@charset "UTF-8";


main p{
    text-indent: 0;
}

h1{
    font-family: "Medieval Sharp";
    font-size: 35px;
    text-align: center;
    color:#DAA520;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.808);
    margin: 20px;
    padding-bottom: 10px;
}



main {
    font-size: 18px ;
    margin-top: 80px;
}



section{
    padding: 2.5px;
    margin-bottom: 50px;
    line-height: 2.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal{
    background: white;
    color: black;
}

section.pimagem{
    background: gray;
    color: white;
}

section.pimagem > p{
    width: 45%;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 15px;
}